<!DOCTYPE html>
<html lang = 'en'>
    <head>
        <meta charset="UTF-8">
        <title>Marko's Education</title>
    </head>
    <body>
        <h1>Marko's Education Page</h1>
        <h4>You have sucessfully navigated to my education page.</h4>
        <h6>Return to my <a href="./index.html">Main Portfolio</a> Page.</h6>
        <hr>
        <h2>My Education and Learning</h2>
        <h3>Training Institute</h3>
        <ul>
            <li><h3 id="SDNQF5">AIE - Accademic Institute of Excellence</h3></li>
            <ul>
                <li>Information Technology (Systems Development)  <b>(2024 - In Progress)</b></li>
                <h6>SAQA: 48872</h6>
                <ol>
                    <li>Digital Literacy</li>
                    <ul>
                        <li>Microsoft Word Essentials - Understand key terms and apply the principles of MS Word</li>
                        <li>Microsoft Excel Essentials - Understand key terms and apply the principles of MS Excel</li>
                        <li>Microsoft PowerPoint Essentials - Understand key terms and apply the principles of MS Powerpoint</li>
                        <li>Microsoft Outlook Essentials - Understand key terms and apply the principles of MS Outlook</li>
                    </ul>
                    <li>Business Communication</li>
                    <ul>
                        <li>Written and verbal communication</li>
                        <li>Effective verbal and written communication</li>
                        <li>Language usage</li>
                    </ul>
                    <li>Mathematics Literacy</li>
                    <ul>
                        <li>Apply knowledge of statistics and probability to critically interrogate and effectively communicate findings on life related problems</li>
                        <li>Represent analyse and calculate shape and motion in 2-and 3-dimensional space in different contexts</li>
                        <li>Use mathematics to investigate and monitor the financial aspects of personal, business, national and international issues</li>
                    </ul>
                    <li>Cloud Fundamentals</li>
                    <ul>
                        <li>introduction to Cloud Computing "Azure"</li>
                        <li>Cloud Service Models</li>
                        <li>Cloud Deployment Models (Azure Fundamentals)</li>
                        <li>Cloud Security and Complience</li>
                        <li>Cloud Economics and Cost Management</li>
                    </ul>
                    <li>Programming Fundamentals</li>
                    <ul>
                        <li>Process and Logic Concepts</li>
                        <li>Program Design</li>
                        <li>Software Engineering</li>
                        <li>Internet Fundamentals</li>
                    </ul>
                    <li>Database Design and Development</li>
                    <ul>
                        <li>Describe data management issues and how it is addressed by a DBMS.</li>
                        <li>Describe commonly implemented features of commercial database management systems.</li>
                        <li>Describe different type of DBMS`s.</li>
                        <li>Design database access for a computer application using T-SQL.</li>
                        <li>Write program code for database access for a computer application using T-SQL.</li>
                        <li>Test programs for a computer application that accesses a database using T-SQL.</li>
                    </ul>
                </ol>
            </ul>
            <hr width="50%">
            <li><h3>CTU Training Solutions</h3></li>
            <ul>
                <li><h4 id="DBNQF6">Information Technology: Database Administrator NQF 6(2011)</h4></li>
                <h6>SAQA: 71869</h6>
                <ol>
                    <li>Apply database implementation and maintenance skills, using a Microsoft SQL Server 2008 program.</li>
                    <ul>
                        <li>Development/design/optimise and maintenance of a data base server infrastructure.</li>
                        <li>Designing and creating database solutions.</li>
                        <li>Create structures to control database access.</li>
                        <li>Implementation and administration of a database.</li>
                    </ul>
                    <li>Install and implement Server skills.</li>
                    <ul><li>Configure/Optimize and maintain an Exchange Server 2007.</li></ul>
                    <li>Understand general database theory.</li>
                    <ul>
                        <li>Apply different database types.</li>
                        <li>Understand the relational database model.</li>
                        <li>Apply the properties of data structures in a relational database.</li>
                        <li>Understand the object orientated database model.</li>
                    </ul>
                    <li>Create database access for a computer application using structured query language.</li>
                    <ul>
                        <li>Review requirements for database access for a computer application using SQL.</li>
                        <li>Design database access for a computer application using SQL.</li>
                        <li>Write program code for database access for a computer application using SQL.</li>
                        <li>Test programs for a computer application that accesses a database using SQL.</li>
                        <li>Document programs for a computer application that accesses a database using SQL.</li>
                    </ul>
                    <li>Understand Computer Database Management Systems.</li>
                    <ul>
                        <li>Describe data management issues and how it is addressed by a DBMS.</li>
                        <li>Describe commonly implemented features of commercial computer DBMS`s.</li>
                        <li>Describe different type of DBMS`s.</li>
                    </ul>
                    <li>Administer security systems for a multi-user computer system.</li>
                    <ul>
                        <li>Understand the organization's security policy.</li>
                        <li>Manage security of desktop computers connected to the system.</li>
                        <li>Maintain security systems for a multi-user computer system.</li>
                        <li>Manage security systems for a multi-user computer system.</li>
                        <li>Provide technical support for the use of security systems for a multi-user computer system.</li>
                    </ul>

                </ol>
                <hr width="50%">
                <li>
                    <h4 id="SSNQF5">Information Technology: Systems Support  NQF 5 (2010)</h4>
                </li>
                <h6>SAQA: 48573</h6>
                <ol>
                    <li>
                        Ability to use a logical methodology to troubleshoot the common types of hardware and software problems is demonstrated by finding a range of problems typically encountered in the day-to-day operations of a department in an organisation, through the appropriate identification/application of different problem solving techniques, knowing when and how to apply these techniques.
                    </li>
                    <li>
                        An understanding of different types of computer systems and the use of computer technology in business is demonstrated, being able to:
                        <ul>
                            <li>Describe the different computer systems and associated hardware and network configurations</li>
                            <li>Describe the staffing and the operations, development and control activities in a modern computing environment</li>
                            <li>Demonstrate an understanding of the social and economic implications of the use of computers</li>
                        </ul>
                    </li>
                    <li>
                        Operate a variety of common end-user applications <br>
                        Determine and recommend configuration requirements for common end-user application software installations <br>
                        Install and configure a variety of common end-user applications <br>
                        Troubleshoot common end-user application software related problems<br>
                    </li>
                    <li>
                        Install and commission a multi-user computer operating system <br>
                        Troubleshoot networked IT systems <br>
                        Maintain a multi-user computer operating system <br>
                    </li>
                    <li>
                        Describe fundamental networking concepts <br>
                        Use basic administrative tools for at least one network operating system <br>
                        Configure at least one network protocol <br>
                        Install, configure and administer at least one server operating system <br>
                        Implement and administer a departmental local area network infrastructure <br>
                        Implement and administer a Directory Service infrastructure <br>
                        Maintain of a secure local area network <br>
                        Troubleshoot a departmental local area network <br>
                        Ensure secure information systems are setup taht will serve to protect the business from data loss and breaches of integrity. <br>
                    
                    </li>
                    <li>
                        Describe server functions and hardware components, relating it to desktop computers <br>
                        Install and configure server computer hardware components and peripherals <br>
                        Troubleshoot server hardware components and peripherals <br>
                        Maintain server computer hardware and peripherals <br>
                    </li>
                    <li>

                    </li>
                </ol>
                <li id="dbadm">
                    
                </li>
                <p></p>
            </ul>
        </ul>
        <footer>
            © Marko Schoonraad. All rights reserved.
        </footer>

    </body>
</html>