<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>My Contact Page</title>
    </head>
    <body>
        <h1>My Contact Details</h1>
        <h6>Return to my <a href="./index.html">Main Portfolio</a> Page.</h6>
        <hr>
        <h3>Location: South Africa, Gauteng, Pretoria</h3>
        <h4>Contact no: 082 375 7633</h4>
        <h4>email Address: {{ 'marko.schoonraad@gmail.com' }}</h4>
        <h4>Other:</h4>
        <ul>
            <li>LinkedIn: <a href="www.linkedin.com/in/markoschoonraad">markoschoonraad</a></li>
            <li>gitHub WebURL: <a href="https://p0lo3.github.io/html-portfolio/">Web Portfolio</a></li>
        </ul>
        <footer>
            © Marko Schoonraad. All rights reserved.
        </footer>
    </body>

</html>