    <!-- <h2>Welcome to the Home Page</h2>
    <p>This is the home page of the Angular app.</p> -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Marko Portfolio</title>
        <!-- <link rel="stylesheet" href="style.css"> -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap" rel="stylesheet">
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Original+Surfer&display=swap" rel="stylesheet">
    
    </head>
    <body>
    <div class="container">

        <!-- <div class="banner">
            <div class="banner-left"><a class="banner-button" href="./index.html"><p class="text-banner">Overview</p></a></div>
            <div class="banner-right"><a type="button" class="banner-button" href="./education.html"><p class="text-banner">Education</p></a></div>
            <div class="banner-right"><a class="banner-button" href="./index.html#HMSK"><p class="text-banner">Skills</p></a></div>
            <div class="banner-right"><a class="banner-button" href="./index.html#HMWKEXP"><p class="text-banner">Work Experience</p></a></div>
            <div class="banner-right"><a class="banner-button" href="./contact.html"><p class="text-banner">Contact Info</p></a></div>
        </div> -->
        <div class="profile">
            <div class="title-text">
                <h1 class="dancing-script-h1">Hi, I am Marko,</h1>
                <h5>Thank you for making the time to visit my first website portfolio</h5>
                <h6><i>-- Website portfolio in progress --</i></h6>
            </div>
            <div class="profile-photo">
                <img src="./images/profileImg.jpg" alt="Profile-img" class="profile-img">
            </div>
        </div>
        <hr>
        <h2>My Overview</h2>
        <p>
            With twelve years of experience as a network engineer specializing in layers 1 to 3 of the OSI model, I have developed a deep understanding in network configuration and troubleshooting. Recently, I embarked on a new journey towards becoming a full-stack developer. To support this transition, I have enrolled myself in a comprehensive academic program and engaged in various learning resources, including books and online courses. My goal is to integrate my extensive IT background with new programming skills to contribute effectively to software development projects.
        </p>
        <hr>
        <h4><a href="./education.html">Education</a></h4>
        <p>
            <i>Please select one of my Education links to learn more about my studies.</i>
        </p>
            <ul>
                <li><a href="./education.html#SDNQF5">Information Technology: Systems Developer - Full Stack Web and Software Developer NQF 5 <b>(2024 - In Progress)</b></a></li>                
                <li><a href="./education.html#SSNQF5">Information Technology: Systems Support NQF 5 (2010)</a></li>
                <li><a href="./education.html#DBNQF6">Information Technology: Database Administrator NQF 6 (2011)</a></li>
                <li>Udemy</li>
                <ul>
                    <li><a href="https://www.udemy.com/share/1013gG3@rYKl7Ju20365oIOCqrWf9BE3DUzhPnKh8Eh-86ZdN2KWWicHg6Ryhwe9v2tiuHQ3/">The Complete 2024 Web Development Bootcamp</a></li>
                    <li><a href="https://www.udemy.com/share/103IHM3@aX-56sjbvDZAor3FU8cIZGzVrwsTaY0KF6DDDNCppylkn7UXpIngggwV05kef-w1/">100 Days of Code: The Complete Python Pro Bootcamp</a></li>
                </ul>
                <li>Self-Learning Books</li>
                <ul>
                    <li><a href="https://nostarch.com/python-crash-course-3rd-edition">Python Crash Course - Third Edition "No Starch Press"</a></li>
                    <li><a href="https://fbeedle.com/our-books/23-python-programming-an-introduction-to-computer-science-3rd-ed-9781590282755.html">Python Programming: An introduction to Computer Science - Second Edition "John Zelle"</a></li>
                    <li><a href="https://nostarch.com/linuxbasicsforhackers">Linux Basics for Hackers</a></li>
                </ul>
            </ul>
        <hr>
        <h4 id="HMSK">Skills</h4>

        <ul>
            <li>CISCO Configurations (Routing, troubleshooting)</li>
            <li>SDWAN Configurations (Routing, troubleshooting)</li>
        </ul>
        <h5>Soft Skills</h5>
        <ul>
            <li>Customer Service</li>
            <li>Problem Management</li>
            <li>Service Management</li>
        </ul>
        <h5>Recent new skills</h5>
        <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>Python basics</li>
            <li>Linux basics</li>
        </ul>
        <hr>
        <h3 id="HMWKEXP">Work Experience</h3>
        <h4>Service Manager - Vodacom Business</h4>
        <h5>September 2022 - August 2024</h5>
        <p>
            Responsible for service delivery management, contract management, and commercialization of customer contracts and service level agreements (SLA's). Ensure that contractual service levels are appropriately managed, and that regular reporting are captured and presented to the client on a monthly basis. 
            Implement and take ownership of Operational Level Agreements (OLA's)/SLA's and Underpinning Contract (UC) management, tracking, measurement and reporting.
            Guide and manage the troubleshooting and resolution of technical issues.
            Management of ITIL process and procedures relating to clients environment.
            Implement and track Service Improvement Plans (SIP) and Continuous Service Improvement (CSI)
        </p>
        <h4>Problem Management - Vodacom Business</h4>
        <h5>May 2019 - September 2022</h5>
        <p>
            Accountable for the problem management process and the owner of the relevant problems identified ensuring that the required lifecycle of the relevant problems are documented and updated, by identifying root causes of incidents, implementing corrective measures, and improving overall service quality.
            Liaise with suppliers and contractors to ensure that third parties fulfil their contractual obligations with regards to resolving problems and providing problem-related information and data.
            Identify opportunities for improving tools and techniques used. 
        </p>
        <h4>Network Provisioning Engineer - Vodacom Business</h4>
        <h5>March 2017 - April 2019</h5>
        <p>
            Responsible for designing and implement network solutions (VPNs, Hosting, SDWAN, Security and VOIP)
            Furthermore also acting as an escalation point to resolve complex network related problems raised internally or by the customer.
            Ensure that the required solutions are clearly understood when deploying customer network needs, and to assist with troubleshooting along with the customer when design has been rolled out should any issues arise.
        </p>
        <h4>Service Desk Engineer L2 - Vodacom Business</h4>
        <h5>May 2014 - February 2017</h5>
        <p>
            Working in a Managed Services Operations Centre (MSOC) as a Tier 2 Network escalation engineer.
            Responsible for remote support and ensuring requests and incidents are resolved withing the agreed SLA's continually updating customer on progress and ensuring customer satisfaction is met.
            My day to day requirements were to be proficient in the following technologies (MPLS, SDWAN, LAN, WAN, BGP, CISCO, Velocloud, etc) to enable and assist with troubleshooting and diagnosing these technologies of any incident that may have been raised.
        </p>
        <hr>
        <h3>Other</h3>
        <p>Text to be added</p>
        <ul>
            <li>My Hobbies and interests</li>
            <li><a href="./contact.html">Contact Info</a></li>
        </ul>
        <footer>
            © Marko Schoonraad. All rights reserved.
        </footer>
    </div>

    </body>
</html>